.contact {


    &__datas {
        display: flex;
        width: 100%;
    }

    &__form {
        flex-direction: column;
        display: flex;
        width: 100%;


        &-name {
            padding: 14px 17px;
            border-radius: 8px;
            margin-bottom: 16px;
            background-color: rgba(225,255,251,0.8);
        }

        &-email {
            padding: 14px 17px;
            border-radius: 8px;
            margin-bottom: 16px;
            background-color: rgba(225,255,251,0.8);
        }

        &-message {
            padding: 14px 17px 111px;
            border-radius: 8px;
            scrollbar-width: none;
            resize: none;
            margin-bottom: 32px;
            background-color: rgba(225,255,251,0.8);
        }

        &-button {
            border-radius: 8px;
            padding: 21px 104px;
            font-weight: 700;
            color: $white-color;
            background-color: $blue-color;
            border: 1px solid #005ECC;
            box-shadow: 0px 15px 20px rgba(0, 102, 221, 0.4);
        }

    }
  }

.data {


    &__title {
        color: #9FADC2;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 24px;
        width: 100%;
    }

    &__value {
        color : $gray-color;
        margin-right: 111px;
        font-weight: 400;
        width: 100%;
    }
}