.footer {
    position: relative;
    &__town {
        background-image: url("/assets/styles/images/footer/footer-image.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 60vh;
    } 

    &__logo {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 131px;
        height: auto;
    }
}