.section {
    padding: 100px 120px;

    &__title {
        font-size: 48px;
        font-weight: 700;
        position: relative;
        

        &-center {
            text-align: center;
            margin-bottom: 80px;
        }

        &::after {
            content: "";
            background-image: url(images/corone-upsdown.png);
            width: 24px;
            height: 24px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}